<div class="footer">
    <mat-toolbar color="primary" class="md-tall">
        <mat-icon aria-hidden="false" aira-label="PRIv Icon">
            public
        </mat-icon>
        <span class="logo-text">Pandemic Restrictions and Information - View</span>
        <span class="spacer"></span>
        <span class="current-version">Current Version: 0.0.1</span>
        <span class="spacer"></span>
        <span class="created">
            Created by Serafín Cortés Ramírez - 2021<br>
            <a class="github" href="https://github.com/Shafledome/AppPandemiasTFGFrontend">Code under license GPL 3.0</a>
        </span>
    </mat-toolbar>
</div>
