<div class="container">
    <div fxFlex fxLayout="column" fxLayout.xs="column" fxLayoutAlign="space-between stretch">
        <div fxFlex="none">
            <app-toolbar section="Informaci&oacute;n"></app-toolbar>
        </div>
        <div fxLayoutAlign="start center" fxLayout="column" [style.paddingTop.px]="'80'">
            <div class="blue-text information-prevention">
                Informaci&oacute;n y Medidas de prevenci&oacute;n
            </div>
            <div class="secondary-text information-explanation">
                Pulse cada tarjeta para ver m&aacute;s informaci&oacute;n
            </div>
        </div>
        <div fxLayout="row wrap" fxLayoutGap="80" fxLayoutAlign="center center" [style.paddingLeft.px]="'20'" [style.paddingRight.px]="'10'" [style.paddingTop.px]="'40'" [style.paddingBottom.px]="'80'">
            <div fxFlex="25%" *ngFor="let inf of information">
                <app-information-card
                    iconName="{{ inf.iconName }}"
                    title="{{ inf.title }}"
                    subtitle="{{ inf.subtitle }}"
                    imgUrl="{{ inf.imgUrl }}"
                    content="{{ inf.content }}">
                </app-information-card>
            </div>
        </div>
        <div fxFlex="none">
            <app-footer></app-footer>
        </div>
    </div>
</div>
