<mat-toolbar color="primary" layout="fill">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-icon-button" aria-label="menu-button">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <mat-icon color="primary" class="blue-icon material-icons-outlined">map</mat-icon>
            <span class="blue-text">Regions</span>
        </button>
        <button mat-menu-item>
            <mat-icon color="primary" class="material-icons-outlined">category</mat-icon>
            <span class="blue-text">Categories</span>
        </button>
        <button mat-menu-item>
            <mat-icon color="primary" class="material-icons-outlined">info</mat-icon>
            <span class="blue-text">Information</span>
        </button>
        <button mat-menu-item>
            <mat-icon color="primary" class="material-icons-outlined">explore</mat-icon>
            <span class="blue-text">Travel Route</span>
        </button>
    </mat-menu>
    <span>
        <a href="">PRIv</a> | {{ section }}
    </span>
</mat-toolbar>
