button
    height: 28vh
    width: 14vw
    font-size: 1.8vw
    border-radius: 5%

button .mat-icon
    font-size: 10vw
    margin-bottom: -120px
    margin-bottom: -14vh
    font-weight: normal

button .button-text
    margin-top: 140px
    margin-top: 16vh