app-toolbar
    width: 100%

app-footer
    width: 100%
    bottom: 0

.container
    width: 100vw
    height: 100vh
    overflow: auto

.travel-route-plan
    font-size: 4vw

.route-explanation
    font-size: 1.5vw

.inside-flex
    width: 100%

.start-button
    margin-left: 4vw

.restart-button
    margin-left: 4vw

.limitrofe-field
    width: 20vw

.initial-field
    width: 20vw

.add-button
    margin-left: 4vw

.mat-subheader
    font-size: 1vw

.items
    max-height: 15vh
    overflow: auto

.finish-explanation
    font-size: 1.5vw

.restrictions
    overflow: auto

mat-accordion
    width: 60vw

.headers-align .mat-expansion-panel-header-description,
.headers-align .mat-expansion-panel-header-title
    flex-basis: 0

.headers-align .mat-expansion-panel-header-description
    justify-content: space-between
    align-items: center