<div class="container">
    <div fxFlex fxLayout="column" fxLayout.xs="column" fxLayoutAlign="space-between stretch">
        <div fxFlex="none">
            <app-toolbar section="Ruta Viaje"></app-toolbar>
        </div>
        <div fxFlex fxLayoutAlign="start center" fxLayoutGap="120" fxLayout="column" [style.paddingTop.px]="'80'">
            <div fxFlex="12" class="blue-text travel-route-plan">
                Planifique su ruta de viaje
            </div>
            <div fxFlex="6" class="secondary-text route-explanation">
                Seleccione una Comunidad Aut&oacute;noma de partida y el resto de comunidades del viaje.
            </div>
            <div fxFlex="6" class="secondary-text route-explanation">
                Al acabar, pulse el bot&oacute;n de "Finalizar"
            </div>
        </div>
        <div fxFlex="none">
            <app-footer></app-footer>
        </div>
    </div>
</div>
