<div class="container">
    <div fxFlex fxLayout="column" fxLayout.xs="column" fxLayoutAlign="space-between stretch">
        <div fxFlex="none">
            <app-toolbar section="Ruta Viaje"></app-toolbar>
        </div>            
        <div fxFlex fxLayout="column" fxLayoutAlign="start center" class="inside-flex" [style.paddingTop.px]="'80'">
            <div class="blue-text travel-route-plan" [style.paddingTop.px]="'20'">
                Planifique su ruta de viaje
            </div>
            <div class="secondary-text route-explanation" [style.paddingTop.px]="'60'">
                Seleccione una Comunidad Aut&oacute;noma de partida y pulse "Empezar".
            </div>
            <div class="secondary-text route-explanation" [style.paddingTop.px]="'30'">
                A continuaci&oacute;n, elija el resto de Comunidades Aut&oacute;nomas. Al acabar, pulse el bot&oacute;n de "Finalizar"
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" [style.paddingTop.px]="'35'">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <mat-form-field appearance="fill" class="initial-field">
                        <mat-label>Comunidad Aut&oacute;noma inicial</mat-label>
                        <mat-select [formControl]="comunidad" [disabled]="disableComunidadInicial || routeFinished" required>
                            <mat-option *ngFor="let com of comunidades" value="{{ com.id }}">
                                {{ com.name }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="comunidad.hasError('required')">Seleccione una comunidad autónoma.</mat-error>
                    </mat-form-field>
                    <button mat-raised-button color="primary" *ngIf="hideForm" class="start-button">Empezar</button>
                </form>
                <button mat-raised-button color="accent" *ngIf="disableComunidadInicial || routeFinished" (click)="clearFields()" class="restart-button">
                    <div class="blue-text">
                        Reiniciar
                    </div>
                </button>
            </div>
            <div *ngIf="disableComunidadInicial" fxLayout="row" fxLayoutAlign="start center" [style.paddingTop.px]="'10'">
                <form [formGroup]="form2" (ngSubmit)="addComunidad()">
                    <mat-form-field appearance="fill" class="limitrofe-field">
                        <mat-label>A&ntilde;ade una Comunidad Aut&oacute;noma lim&iacute;trofe</mat-label>
                        <mat-select formControlName="limitrofe" class=".select-limitrofe">
                            <mat-option *ngFor="let com of comunidadesSet" value="{{ com.id }}" class=".limitrofe">
                                {{ com.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button mat-raised-button color="accent" class="add-button">
                        <div class="blue-text">
                            A&ntilde;adir
                        </div>
                    </button>
                </form>
            </div>
            <div *ngIf="disableComunidadInicial" fxLayout="row" fxLayoutAlign="start center" [style.paddingTop.px]="'10'">
                <mat-list>
                    <div mat-subheader>
                        <div class="blue-text">
                            Ruta de las Comunidades Aut&oacute;nomas:
                        </div>
                    </div>
                    <div class="items">
                        <mat-list-item *ngFor="let com of selectedComunidades; let i = index">
                            <div mat-line>{{i + 1}}:&nbsp;&nbsp;{{ com.name }}</div>
                        </mat-list-item>
                    </div>
                </mat-list>
            </div>
            <div *ngIf="disableComunidadInicial" fxLayout="row" fxLayoutAlign="start center" [style.paddingTop.px]="'25'">
                <button mat-raised-button color="primary" (click)="onFinish()">Finalizar</button>
            </div>
            <div *ngIf="routeFinished" fxLayout="row" fxLayoutAlign="start center" [style.paddingTop.px]="'20'" class="secondary-text finish-explanation">
                Ahora puede pulsar sobre cada Comunidad Aut&oacute;noma para ver sus restricciones.
            </div>
            <div *ngIf="routeFinished" fxLayout="row" fxLayoutAlign="start center" [style.paddingTop.px]="'20'" class="secondary-text finish-explanation">
                Para empezar de nuevo pulse "Reiniciar".
            </div>
            <div *ngIf="routeFinished" fxLayout="column" fxLayoutAlign="start center" [style.paddingTop.px]="'40'" [style.paddingBottom.px]="'50'">
                <div class="action-buttons">
                    <button mat-button (click)="accordion.openAll()">
                        <div class="blue-text">
                            Abrir todos
                        </div>
                    </button>
                    <button mat-button (click)="accordion.closeAll()">
                        <div class="blue-text">
                            Contraer todos
                        </div>
                    </button>
                </div>
                <mat-accordion class="headers-align" multi>
                    <div *ngFor="let com of selectedComunidades">
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <div class="blue-text">
                                        {{ com.name }}
                                    </div>
                                </mat-panel-title>
                                <mat-panel-description>
                                    Haga click para ver las restricciones
                                    <mat-icon>map</mat-icon>
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div *ngFor="let res of selectedRestrictions[com.id]">
                                <b>{{ categories[res.category] }}</b><br>
                                {{ res.information }}<br><br>
                            </div>
                        </mat-expansion-panel>
                    </div>
                </mat-accordion>
            </div>
        </div>
        <div fxFlex="none">
            <app-footer></app-footer>
        </div>
    </div>
</div>
