@use 'sass:map'
@import './scss/_variables.scss'
@import '~@angular/material/theming'

body
    font-family: Lato
    padding: 0
    margin: 0

a
    color: $link-color

.blue-text
    font-weight: bold
    color: $secondary-color

.secondary-text
    font-weight: bold
    color: map.get($mat-indigo, 200)

.blue-icon
    color: $secondary-color

.spacer
    flex: 1 1 auto

a
    text-decoration: inherit