<div class="container">
    <div fxLayout="column" fxLayout.xs="column" fxLayoutAlign="space-around stretch" fxFill>
        <div fxFlex="none">
            <app-toolbar></app-toolbar>
        </div>
        <div fxLayoutAlign="start center" fxLayout="column" [style.paddingTop.px]="'120'">
            <div class="blue-text choose-section">
                Elige secci&oacute;n
            </div>
        </div>
        <div fxFlex fxLayoutAlign="center center" fxLayout="row" [style.borderRadius.px]="'0'" [style.paddingTop.px]="'-120'">
            <span class="spacer"></span>
            <app-big-button></app-big-button>
            <span class="spacer"></span>
            <app-big-button name="Categorias" icon="category"></app-big-button>
            <span class="spacer"></span>
            <app-big-button name="Informaci&oacute;n" icon="info" routerLink="/information"></app-big-button>
            <span class="spacer"></span>
            <app-big-button name="Ruta Viaje" icon="explore" routerLink="/travel-route"></app-big-button>
            <span class="spacer"></span>
        </div>
        <div fxFlex="none">
            <app-footer></app-footer>
        </div>
    </div>
</div>